{% extends 'rental/base.html' %} {% load static %} {% block title %}Каталог
техники — СТАР{% endblock %} {% block content %}

<section class="catalog">
  <div class="container">
    <h1 class="section-title">Каталог техники</h1>

    <div class="catalog-grid">
      {% for it in items %}
      <article class="card">
        <div class="card-img">
          <img src="{{ it.image.url }}" alt="{{ it.name }}" />
        </div>
        <div class="card-body">
          <h3 class="card-title">{{ it.name }}</h3>
          <div class="card-price">{{ it.price }} рублей/смена</div>
          <a href="{% url 'equipment_detail' it.id %}" class="btn btn-primary"
            >Выбрать</a
          >
        </div>
      </article>
      {% endfor %}
    </div>
    <section class="request-block">
      <div class="request-inner">
        <h2 class="section-title">Не нашли того, что хотели?</h2>
        <p class="form-intro">
          Оставьте заявку, и мы подберём то, что вам нужно
        </p>
        <form method="post" class="form-inline">
          {% csrf_token %}
          <input type="text" name="name" placeholder="Введите имя" required />
          <input
            type="email"
            name="email"
            placeholder="mail@mail.ru"
            required
          />
          <input type="tel" name="phone" placeholder="xxx-xxx-xxx" required />
          <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
        <p class="form-note">
          Нажимая на кнопку, Вы принимаете Положение и Согласие на обработку
          персональных данных.
        </p>
      </div>
    </section>
  </div>
</section>

{% endblock %}
